@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.home {
  // margin: 50px auto auto auto;
  width: 1030px;
  padding: 10px;
  .info {
    position: relative;
    .avatar {
      float: right;
      margin-right: 59px;
      img {
        width: 94px;
        height: 90px;
        border-radius: 12px;
        box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);
      }
      &:hover {
        animation: jiggle 1.4s ease-in-out;
      }
      @keyframes jiggle {
        48% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.2, 0.8);
        }
        56% {
          transform: scale(0.8, 1.2) translate(0, -5px);
        }
        59% {
          transform: scale(1, 1) translate(0, -3px);
        }
      }
    }
    .name {
      margin-top: 40px;
      margin-bottom: 30px;
      font-family: 'Courgette', cursive;
      letter-spacing: 0;
      color: #2b2928;
      text-shadow: none;
      font-size: 3rem;
    }
    .text {
      text-shadow: none;
      color: #2b2928;
      font-size: 1.6rem;
      line-height: 1.5rem;
      max-width: 960px;
      .position-title {
        color: #ff6f5e;
        font-weight: bold;
        text-align: center;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.9rem;
      }
    }
    .social {
      overflow: hidden;
      li {
        list-style-type: none;
        a {
          margin-left: 25px;
          float: left;
          color: #1d1d1d;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: #f45905;
          }
        }
      }
      .side-project {
        float: right;
        margin-right: 60px;
        font-family: 'Courgette', cursive;
        color: #2b2928;
        font-size: 1.3rem;
      }
    }
  }
  .react-rotating-text-cursor {
    color: #ffddcc;
  }
  hr {
    margin: 1.9em auto;
    width: 240px;
    max-width: 100%;
    border: none;
    border-top: 1px solid #d3d3d3;
    border-color: rgba(150, 150, 150, 0.2);
  }

  .display-project {
    margin-top: 20px;
    .card-list {
      overflow: hidden;
      padding: 10px;
      .card {
        float: left;
        margin-right: 40px;
        margin-bottom: 33px;
        img {
          width: 290px;
          height: 160px;
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
          transition: all 0.8s;
          &:hover {
            transform: translateY(-8px);
          }
        }
      }
    }
  }
}
